html{ 
  height: 100%;
}

*{ 
  margin: 0;
  padding: 0;
}

body{ 
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
}

p{
  padding: 0 0 20px 0;
  font-size:15px;
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

img{ 
  border: 0;
}

a, a:hover{ 
  outline: none;
  text-decoration: underline;
  color: #1293EE;
}

a:hover{ 
  text-decoration: none;
}

blockquote{ 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

h1, h2, h3, h4, h5, h6 { 
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2{ 
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #A4AA04;
}

h4, h5, h6{ 
  width:200px;
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #43423F;
  background:#99ffbb;
}

h5, h6{ 
  font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;
}

h6{ 
  color: #362C20;
}

ul{ 
  margin: 2px 0 22px 17px;
}
ul li{ 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
}

ol{ 
  margin: 8px 0 22px 20px;
}
ol li{ 
  margin: 0 0 11px 0;
}



