#footer{ 
  width: 878px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #29425E url(images/footer.png) repeat-x;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer a{ 
  color: #FFF;
  text-decoration: none;
}
#footer a:hover{ 
  color: #FFF;
  text-decoration: underline;
}